body {
    font: 16px;
    background: #f3f5f6;
  }
  
  .autocomplete-container {
    /*the container must be positioned relative:*/
    position: relative;
    
    margin-bottom: 20px;
  }
  
  .autocomplete-container input {
    width: calc(100% - 43px);
    outline: none;
    
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    padding-right: 31px;
    font-size: 16px;
  }
  
  .autocomplete-items {
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: calc(100% + 2px);
    left: 0;
    right: 0;
    
    background-color: #fff;
  }
  
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
  }
  
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .autocomplete-items .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .clear-button {
    color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    
    position: absolute;
    right: 5px;
    top: 0;
  
    height: 100%;
    display: none;
    align-items: center;
  }
  
  .clear-button.visible {
    display: flex;
  }
  
  
  .clear-button:hover {
    color: rgba(0, 0, 0, 0.6);
  }
      
  body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    font-size: 17px;
    padding: 8px;
   
  }
  
   .container {
    
  background-color: white;
  padding: 5px 20px 15px 20px ;
  
  border-radius: 32px;
  
   }
  input[type="text" ],
  input[type="email" ],
  input[type="number" ],
  input[type="password" ],
  input[type="date" ]
  select,
  textarea{
    font-size: medium;
    height: 29px;
    width: 100%;
    padding: 1px;
    border: 1px solid #fcc;
    border-radius: 5px;
    margin: 10px;
    
  }
  fieldset{
    background-color: #f2f2f2;
    border: 1px solid #fcc;
  
  }
  .main_heading{
    text-align: center;
    font-size: 24px;
  color: #525252;
  font-weight: 400;
  margin-bottom: 40px;
  
  }
  input[type="submit"]{
    background-color: rgb(18, 138, 138);
    color: rgb(19, 17, 17);
    padding: 12px 20px;
    border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 19px;
  }
  input[type="submit"]:hover
  {
    background-color: #fcc;
  }
  input[type="datetime"]
  {
    width: 100%;
    font-size: medium;
    height: 29px;
  }
  select[name="card_type"]
  {
    height: 50px;
    font-size: 40px;
  
  }
  
  .page{
    
  background: -webkit-linear-gradient(bottom left,#fc2c77 0%,#6c4079 100%);
  background: -moz-linear-gradient(bottom left,#fc2c77 0%,#6c4079 100%);
  background: -o-linear-gradient(bottom left,#fc2c77 0%,#6c4079 100%);
  background: linear-gradient(to top right,#fc2c77 0%,#6c4079 100%);
     box-sizing: inherit;
     padding-bottom: 100px;
     padding-top: 130px;
  }
  
  .wrapper{
    max-width: 680px;
    margin: 0 auto;
    box-sizing: inherit;
    padding: 0;
    display: block;
  }
  .card{
    background: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 8px 20px 0 rgba(0,0,0,.15);
  -moz-box-shadow: 0 8px 20px 0 rgba(0,0,0,.15);
  box-shadow: 0 8px 20px 0 rgba(0,0,0,.15);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  padding: 57px 65px;
    padding-bottom: 65px;
  }
  .enter{
    display: block;
    box-sizing: inherit;
  }
  .category{
    height: auto;
  width: 250px;
  margin: 10px;
  font-size: 25px;
  }
  .category:focus{
    min-width: 150px;
    width: auto;
  }